  <h2>「<%= @tweet.message %>」へのコメント</h2>
 <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
 
  <%= f.text_field :text %>
  <button type="submit" id="submit-btn" class="comment-btn">コメントする</button>
 <% end %> 

  <div id='comments'>
    <% @comments.reverse_each do |comment| %>
    <p><%= comment.user.nickname %>:
    <%= comment.text %>
    <br><span>投稿日時:</span><%= comment.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></p>

    <% end %>
  </div>